<div class="card" style="width: 18rem;">
  <div class="card_header">
    <span>{{ post.user.username }}</span>
  </div>
  {% if post.image %}
  <img src="{{ post.image.url }}" class="card-img-top" alt="{{ post.image }}">
  {% endif %}
  <div class="card-body">
    <p class="card-text">{{ post.content }}</p>
    {% if post.user == user %}
    <a href='{% url 'posts:update' post.id %}' class="btn btn-secondary">Edit</a>
    <a href='{% url 'posts:delete' post.id %}' class="btn btn-primary">Delete</a>
    {% endif %}
  </div>
</div>