<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Post detail</h1>
    <img src="{{ post.image.url }}"></img>
    <h2>Title : {{ post.title }}</h2>
    <p>Content : {{ post.content }}</p>
    <a href="{% url 'posts:list' %}">List</a>
    <a href="{% url 'posts:delete' post.pk %}">Delete</a>
    <a href="{% url 'posts:edit' post.pk %}">Edit</a>
    
    <hr>

    <form action="{% url 'posts:comments_create' post.pk %}" method='post'>
        {% csrf_token %}
        댓글 : <input type="text" name="content"/>
        <input type="submit" value="Submit"/>
    </form>
    
    {% for comment in post.comment_set.all %}
        <li>{{ comment.content }} - <a href="{% url 'posts:comments_delete' post.pk comment.pk %}">Delete</a></li>
    {% endfor %}
</body>
</html>