<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {{ form.non_field_errors }}
    <form method="post">
        {% csrf_token %}
        <div>
            {{ form.name.label_tag }}
            {{ form.name }} 
        </div>
        <div>
            {{ form.age.label_tag }}
            {{ form.age }}
        </div>
        <input type="submit" value="Submit"/>
    </form>
</body>
</html>