<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Student detail</h1>
    <li>name : {{student.name}}</li>
    <li>email : {{student.email}} </li>
    <li>birthday : {{student.birthday}}</li>
    <li>age : {{student.age}}</li>
    <a href="/students/">List</a>
    <a href="/students/{{ student.pk }}/delete">Delete</a>
    <a href="/students/{{ student.pk }}/edit">Edit</a>
</body>
</html>