<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/students/create/" method="post">
        {% csrf_token %}
        <p>이름__<input type="text" name="name"/></p>
        <p>이메일<input type="text" name="email"/></p>
        <p>생일__<input type="date" name="birthday"/></p>        
        <p>나이__<input type="number" name="age"/></p>
        <input type="submit" value="Submit"/>
    </form>
</body>
</html>